* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: rgb(198, 187, 187);
}

.title{
    font-family: cursive;
}

.create-button {
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  align-self: flex-end;
  cursor: pointer;
}

.form-container {
    background-color: rgb(141, 112, 112);
    border-radius: 1rem;
    width: 50%;
    min-height: 60vh;
    padding-bottom: 1rem;
    position: absolute;
    left: 25vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.close-form,
.submit-form {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close-form{
    align-self: flex-end;
    background: none;
    font-size: 2rem;
}

.form-fields {
  padding: 1rem 0;
  cursor: pointer;
  font-weight: bold;
}

.table,
td,
th {
  border: 2px solid black;
  padding: 0.5rem;
  border-collapse: collapse;
  text-align: center;
  font-family: cursive;
}

.table {
  width: 100%;
  border-radius: 2rem;
  margin-top: 1rem;
}

th{
    background-color: rgb(159, 158, 158);
    
}
td{
    background-color: rgb(203, 203, 203);
    
}

.delete-popup{
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: aqua;
  min-height: 40%;
  min-width: 60%;
}

.edit-button, .delete-button{
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(159, 158, 158);
  cursor: pointer;
}